body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav main main"
    "nav footer footer";
  grid-template-rows: 120px 1fr 120px;
  grid-template-columns: 250px;
}

header {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  grid-area: header;
}

main {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  grid-area: main;
}
nav {
  background-color: thistle;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  grid-area: nav;
}
footer {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  grid-area: footer;
}
