body {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 10%;
}

header {
  background-color: lightyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.square1 {
  width: 80px;
  height: 80px;
  background-color: red;
}
.square2 {
  width: 80px;
  height: 80px;
  background-color: red;
}
.square3 {
  width: 80px;
  height: 80px;
  background-color: red;
}
.square4 {
  width: 80px;
  height: 80px;
  background-color: red;
}

main {
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.square5 {
  width: 80px;
  height: 80px;
  background-color: red;
  align-self: flex-end;
}
.square6 {
  width: 80px;
  height: 80px;
  background-color: red;
  align-self: flex-end;
}
.square7 {
  width: 80px;
  height: 80px;
  background-color: red;
  align-self: flex-end;
}
.square8 {
  width: 80px;
  height: 80px;
  background-color: red;
  align-self: flex-end;
}

footer {
  background-color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.square9 {
  width: 80px;
  height: 80px;
  background-color: red;
}

.square10 {
  width: 80px;
  height: 80px;
  background-color: red;
}
